*{
  margin : 0;
}

#dark {
  background-color: black;
  color: white;
  text-align: center;
}

#light {
  background-color: white;
  color: dark;
  text-align: center;
}

#dark .page{
  margin-top: 10px;
  height: 95vh;
  background-color: #000024;
}

#light .page{
  margin-top: 10px;
  height: 95vh;
  background-color: pink;
}

.list {
  background-color: aqua;
  color: black;
  padding: 10px;
  margin: 10px;
}

.input {
  font-size: 25px;
  border: 4px aqua solid;
  border-radius: 10px;
}

.btn{
  margin-left: 10px;
  font-size: 15px;
  padding: 10px;
  background-color: pink;
  border-radius: 5px;
  cursor: pointer;
}

#dark .btn {
  background-color: pink;
  color: black;
}

#light .btn{
  background-color: #2a2a8d;
  color: white;
}